.emptyContainer{
    margin-top:62px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img1{
    height:162px;
    /* margin:30px; */
}
.Explore{
margin:10px;
font-size: 13px;
}
#mainContainer{
    margin-top:65px;
}
#cards{
width:auto;
display:flex;
gap:10px;
}

#cartContainer{
    border:2px solid black;
}